obj
bin
.vs
WvWareNetConsole/*.txt
WvWareNetWord97Working/
examples/out/
examples/*.txt
!examples/*.expected.txt
examples-local/
WvWareNet95-97Working/
MsBinaryFile
OnlyOffice-MsBinaryFile/
sync.ffs_db
